---
// Component Imports
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = 'Kevin Zeillmann';
const description = 'Occasional thoughts and demos';
const permalink = 'https://kzeillmann.com/';

const { MODE } = import.meta.env;

// Data Fetching: List all Markdown posts in the repo.

const allPosts = (await Astro.glob('./*.md'))
	.filter(article => MODE === "development" || !article.frontmatter.draft)
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout {title} {description} {permalink}>
	<section class="intro">
		<h1 class="latest">{title}</h1>
		<p>{description}</p>
	</section>
	<section aria-label="Blog post list">
		{allPosts.map((p) => <BlogPostPreview post={p} />)}
	</section>
</BaseLayout>