---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Tech Demos"
const description = "A few demos of tech I'm trying out"
const permalink = "https://kzeillmann.com/demos"


---
<BaseLayout {title} {description} {permalink}>
  <section>
    <h1>{title}</h1>
    <p>{description}</p>
  </section>
  <div class="demo-container">
    <article>
      <a href="/demos/synth-demo"><h2>Synth Demo</h2></a>
        <p></p>
    </article>
    <article>
      <a href="/demos/web-api-playground"><h2>Web API Playground</h2></a>
    </article>
    <article>
      <a href="/demos/board-games"><h2>Board game related</h2></a>
    </article>
  </div>
</BaseLayout>
 